.fable/
.fake/
.ionide/
.paket/
.vs/
obj/
bin/
packages/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.orig
*.DotSettings.user
deploy
*.user
*.db
paket.exe
TestResults/
coverage.json
/src/Server/Logs
/debug.log
/src/Server/_clean
/src/Server/_cacheversion
*.fs.js
tailwind-generated.css
.dist
.dist_prod
.parcel-cache
fablejs
/deploy
/publish
/debug
